* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

:root{
  --background-color: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f) 0 50%;
  --background-size: 300% 300%;
  --animation-properties: alternate-gradiant 5s alternate infinite;
}

body{
  background: #151515;
}

